@model IEnumerable<BootStrapProjectOne.Models.Question>

@{
    ViewBag.Title = "FAQ";
}

<link href="~/css/myStyles.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">FAQ</li>
                <input id="FAQCreate" type="button" style="margin-left: 20px;" value="New FAQ" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("CreateFaq", "FAQ")'" />
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                @{ var iCount = 1; }

                @foreach (var item in Model)
                {
                    iCount = iCount + 1;
                    var sID = "collapse" + iCount;
                    var sRef = "#collapse" + iCount;

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="@sRef" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                @Html.DisplayFor(modelItem => item.sQuestion)
                            </a>
                            <input id="FAQEdit" type="button" value="Edit" style="margin-left: 20px;" class="btn btn-sm btn-primary" onclick="location.href='@Url.Action("EditQuestion", "FAQ", new { iCode = item.Question_ID })'" />
                            <input id="CreateAnswer" type="button" value="Add Answer" style="margin-left: 20px;" class="btn btn-sm btn-info" onclick="location.href='@Url.Action("AddAnswer", "FAQ", new { id = item.Question_ID })'" />
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="@sID" style="height: 0px;">
                       
                        @foreach (var Answers in ViewData["Answers"] as IList<BootStrapProjectOne.Models.Answer>)
                        {
                            if (Answers.Question_ID == item.Question_ID)
                            {
                                //Display answer in text
                                @:<div class="panel-body">
                                    @Answers.sAnswer
                                @:</div>
                            }
                         }

                    </div>
                </div>
                }
             
            </div>
            </div>
        </div>
    </div>