@model IEnumerable<BootStrapProjectOne.Models.Student>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Information Systems
                <small>Showcase Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>

                    @Html.ActionLink("Create New", "AddStudent")

                </li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4 portfolio-item">
            <a href="@Url.Action("SingleItem", "Portfolio")">
                <img src="http://placehold.it/700x400" class="img-responsive">
            </a>
            <a href="@Url.Action("SingleItem", "Portfolio")">

                <h3>
                    @Html.DisplayFor(modelItem => item.fName) @Html.DisplayFor(modelItem => item.lName)
                </h3>
            </a>
            <p>
                @Html.DisplayFor(modelItem => item.Company): @Html.DisplayFor(modelItem => item.Experience)
            </p>
            <p>
                @Html.ActionLink("Edit", "EditStudent", new { sCode = item.StudID }) |
                @Html.ActionLink("Details", "Details", new { sCode = item.StudID }) |
                @Html.ActionLink("Delete", "DeleteStudent", new { sCode = item.StudID })
            </p>
        </div>
    }
</div>
